.navbar{
    position:sticky;
    top:0;
    left:0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px  50px;
    border-bottom: 1px solid black;
    background-color: #fbc02d;
    z-index: 1;
}
.navbar.active{
    background:#ffff;
    transition: ease-in-out 1s;
}

.part-2{
    width:50%;
    display:flex;
    justify-content: space-around;
    gap: 20px;
    align-items:center
}

.links{
    list-style: none;
    width:75%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    cursor: pointer;
}
.links > li{
    font-size:16px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: .3s; 

}
.links > li:hover{
    transform: scale(1.1);
}

.links-box{
    width:80%;
    /* padding: 10px; */
    display:flex;
    justify-content: right;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    /* border: 1px solid red; */
}